<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="finddelivery.es.projeto.finddelivery" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".views.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.UserProfileActivity"
            android:label="Meus dados" >
        </activity>
        <activity
            android:name=".views.ProfileEditActivity"
            android:label="Edite seu perfil" >
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:label="Faça seu login" >
        </activity>
        <activity
            android:name=".views.UserCadastreActivity"
            android:label="Cadastre-se" >
        </activity>
        <activity
            android:name=".views.MyEstablishmentActivity"
            android:label="@string/title_activity_my_establishment" >
        </activity>
        <activity
            android:name=".views.EstablishmentsActivity"
            android:label="@string/title_activity_establishments">
        </activity>
        <activity
            android:name=".views.EvaluationEstablishmentActivity"
            android:label="@string/title_activity_evaluation_establishment" >
        </activity>
        <activity
            android:name=".views.EvaluateEstablishmentActivity"
            android:label="@string/title_activity_evaluate_establishment" >
        </activity>
        <activity
            android:name=".views.EstablishmentDetails"
            android:label="@string/title_activity_establishment_details" >
        </activity>
        <activity
            android:name=".views.EstablishmentCadastreActivity"
            android:label="@string/title_activity_establishment_cadastre" >
        </activity>
        <activity
            android:name=".views.FindEstablishmentActivity"
            android:label="@string/title_tab_findRestaurants" >
        </activity>
    </application>

</manifest>